.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  text-align: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.search-by-class {
  font-size: 14px;
  color: #555;
  cursor: pointer;
  margin-top: 4px;
}
